<h3>Listado de Héroes</h3>


<h3 *ngIf="deleteHero; else nothingWasDelete">❌ Héroe borrado <small class="text-danger"> {{deleteHero}} </small></h3>

<ng-template #nothingWasDelete>
  <h3>Lista completa ✅</h3>
</ng-template>

<ng-template #allDelete>
  <h3>❌ Se elimino la lista completa ❌</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0; else allDelete"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrar último héroe
</button>



<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">
    {{name}}
  </li>
</ul>
